.container{
  width: 100%;
  min-width: 1200px;
  height: 100%;
  margin: 10px;
}


@media (max-width: 1200px) {
  .container {
    width: 100%;
    min-width: 1200px; /* 최소 너비 제한 해제 */
  }
}

.data_container{
  border: 1px solid black;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.data_container > div:first-child{
  border: 1px solid black;
  flex: 1;
}

.data_container > div:nth-child(2){
  border: 1px solid black;
  flex: 1;
}

.data_container > div:nth-child(3){
  border: 1px solid black;
  flex: 1;
}

