.background{
  width: 100vw;
  background: #f7f9fa;
  overflow: auto;
  height: calc(100vh - 100px);
}

.chart_title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #2c3e50;
  background-color: #f0f4f8;
  padding: 12px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  font-family: 'Pretendard', sans-serif;
}



.container{
  width: 1200px;
  min-width: 1200px;
  margin: 0px auto;
  padding: 0px 20px;
}


@media (max-width: 1300px) {
  .container {
    width: 100%;
    min-width: 1300px; /* 최소 너비 제한 해제 */
  }
}

.data_container{
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 20px;
}

.data_container > div{
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.data_container > div > div > div:first-child{
  display: flex;
  justify-content: space-between;
}



.data_container > div > div:first-child > div:nth-child(2){
  font-size: 1rem;
  color: rgba(220, 20, 60, 0.5);
}




.test{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.test > div{
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.test > div > p{
  font-size: 1.4rem;
  font-weight: bold;
}

.test>div span{
  font-size: 1.2rem;
  font-weight: 500;
  color: salmon;
}

.legend_div{
  grid-column: 1 / -1; /* 👉 가로 전체를 차지하도록 설정 */
  box-shadow: none !important;
  align-items: end;
}