.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.left{
  border-radius: 10px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 150px;
  align-items: center;
  padding: 10px;
}

.left > p{
  color: grey;
  font-weight: bold;
}

.right{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
}

.right>div{
  box-shadow: 4px 4px 4px lightgrey;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  padding: 6px;
}

.right p{
  font-size: 0.8rem;
  margin-bottom: 4px;
}

.right p > span{
  font-weight: 700;
  font-size: 0.9rem;
}