.weather_container{
  margin: 0px auto;
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(128, 128, 128, 0.2);
}

.weather_container p {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 10px;
}

.weather_container p>span{
  font-size: 1rem;
  font-weight: 500;
}

.weather_icon{
  text-align: center;
  
}
