.container{
  background: linear-gradient(rgb(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/images/mountain13.png');
  background-size: cover;
  background-position: center center;
  

  box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.2);
  border-radius: 30px;
  padding: 20px;
  width: 900px;
  margin: 30px auto;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

