.week_title{
  margin: 10px 0px;
}

.container{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(128, 128, 128, 0.2);
}

.week_weather{
  display: flex;
  gap: 10px;
}



.day{
  font-weight: bold;
  font-size: 1.2rem;
}

.week_weather>div{
  flex: 1;
  text-align: center;
  background-color: rgba(165, 165, 165, 0.15);
  padding: 4px;
  border-radius: 10px;
}

.weather_card{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.weather_card>div{
  flex: 1;
}

.weather_card > div i{
  font-size: 4rem;
}

.weather_card>div:nth-child(2){
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  font-size: 1rem;
}

.week_text >p{
  font-size: 1.2rem;
  font-weight: bold;
}

.week_text span{
  font-size: 1.1rem;
  font-weight: 500;
}
