.weather_container{
  border: 1px solid red;
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.weather_container>i{
  color: rgb(218, 217, 210);
  font-size: 3rem;
}

.weather_info{
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

