.header{
  position: fixed;
  top: 0;
  width: 100vw;
  min-width: 1200px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px 30px;
  height: 13vh;
  min-height: 100px;
  z-index: 999;
}

/* 화면이 1200px 이하로 줄어들면 width를 100%로 변경 */
@media (max-width: 1200px) {
  .header {
    width: 100%;
    min-width: 1200px; /* 최소 너비 제한 해제 */
  }
}

.home_logo{
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px;
  border-radius: 10px;
}

.home_logo img{
  border-radius: 10px;
}

.home_logo:hover{
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
}

.home_logo>p{
  font-size: 2rem;
  font-weight: bold;
  color: grey;
}

.content_list{
  margin: auto 0px;
  color: black;
  display: flex;
  align-items: center;
  gap: 80px;
  font-size: 1.2rem;
  height: 50px;
}

.content_list > ul> li:hover{
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 4px 4px 6px rgba(190, 190, 190, 0.5);
}

.user_login_join{
  color: black;
  height: 50px;
  margin: auto 0px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 10px;
}

.user_login_join > p:hover{
  cursor: pointer;
  font-weight: bold;
}


.menu {
  position: relative;
}

.menu > li {
  cursor: pointer;
}



/* 드롭다운 스타일 */
.dropdown {
  position: absolute;
  top: 100%; /* ul 아래로 배치 */
  left: 0px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  padding: 10px;
  animation: dropdown-animation 0.3s ease-in-out; /* 애니메이션 추가 */
  width: 180px;
  z-index: 1;
}

.dropdown li {
  font-size: 1.2rem;
  margin: 5px 0;
  margin-bottom: 20px;
}

.dropdown li:hover {
  cursor: pointer;
  font-weight: bold;
}

/* 드롭다운 애니메이션 */
@keyframes dropdown-animation {
  from {
    opacity: 0;
    transform: translateY(-10px); /* 위에서 아래로 이동 */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}