
.background{
  width: 100vw;
  height: 70%;
  background: #f7f9fa;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 1200px;
  min-height: 60vh;
  padding: 40px;
  box-sizing: border-box;
  margin: 0px auto;
}

.weather_box{
  margin: 0px auto;
  padding: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1)), url('/images/downloaded-image (2).jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.9;
}

.weather_box>div{
  margin: 0px auto;
  text-align: end;
}

.weather_box>div>p{
  font-size: 2rem;
  font-weight: 900;
  color: rgba(185, 46, 11, 0.8);
}

.weather_btn{
  background-color: rgba(57, 86, 104, 0.7);
  height: 40px;
  margin: 10px 0px;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 8px 12px;
}

.weather_btn:hover{
  background-color: rgba(57, 86, 104);
  color: rgb(185, 46, 11);
  font-size: 0.8rem;
  font-weight: 500;
}

.left_panel {
  flex: 2;
  background: white;
  padding: 20px 30px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

.left_panel > div{
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 99%;
  padding: 10px;
}

.right_panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card_item {
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_item .icon {
  font-size: 2rem;
  color: #38bdf8;
}

.card_item .data {
  text-align: right;
}

.card_item .data p {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.card_item .data span {
  font-size: 0.85rem;
  color: #555;
}

.chart_title {
  font-size: 1.2rem;
  font-weight: 500;
}

.aircondition{
  width: 1120px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  background-color: white;
  padding: 30px;
}

.status_box>div{
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status_box>div >span{
  font-size: 0.9rem;
  color: #555;
}

.status{
  border-radius: 50%;
  width: 15px;
  height: 15px;
}