.container{
  border: 1px solid black;
  background-color: lightblue;
  width: 80%;
  height: 80%;
  margin: 0px auto;
  padding: 10px;
  display: flex;
}

.tableContainer{
  width: 90%;
  height: 80%;
  margin: 0px auto;
}

.user{
  border: 3px solid black;
}

