.container{
  display: flex;
  gap: 10px;
}

.green{
  display: flex;
  gap: 4px;
}

.green > div{
  width: 20px;
  height: 20px;
  background-color: green;
}

.orange{
  display: flex;
  gap: 4px;
}

.orange > div{
  width: 20px;
  height: 20px;
  background-color: #F5CD19;
}

.red{
  display: flex;
  gap: 4px;
}

.red > div{
  width: 20px;
  height: 20px;
  background-color: #EA4228;
}