.main_container{
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
  background-color: #F4EEFF;
}

.first_container{
  display: flex;
  border: 1px solid red;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

.second_container{
  display: flex;
  border: 1px solid blue;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.first_container > div{
  border: 3px solid lightcoral;
  width: 30%;
  height: 400px;
  border-radius: 6px;
  background-color: #DCD6F7;
  object-fit: cover;
  object-position: center center;
  transition: all 1s;
}

.second_container > div{
  border: 3px solid lightgreen;
  width: 30%;
  height: 400px;
  border-radius: 6px;
  background-color: #DCD6F7;
  position: relative;
  overflow: hidden;
}

